body {
    font-family: 'Comic Sans MS', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1DB954;
    color: #000;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow-y: auto;
    padding-bottom: 50px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url("../images/Spotify_Primary_Logo_RGB_Green.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    opacity: 0.25;
    z-index: -1;
}

.top-bar {
    background-color: #000;
    color: #1DB954;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.top-bar .title {
    font-size: 28px;
    font-weight: bold;
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.top-bar .logo img {
    height: 40px;
    margin-left: 10px;
}

.container {
    max-width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
}

input[type="text"] {
    width: 60%;
    padding: 12px;
    font-size: 20px;
    border: 2px solid #1DB954;
    border-radius: 5px;
    background-color: #f0f8ff;
    color: #000;
    outline: none;
    transition: 0.3s ease-in-out;
}

input[type="text"]:hover {
    transform: scale(1.05);
}

button {
    width: 30%;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: rotate(-3deg) scale(1.1);
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

#result a {
    display: block;
    text-decoration: none;
    color: #1DB954;
    font-weight: bold;
    margin-bottom: 10px;
}

#result ul {
    list-style-type: none;
    padding: 0;
}

#result li {
    margin: 10px 0;
    font-size: 18px;
}


#result img {
    width: 100%;
    border-radius: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

footer p,
footer a,
footer span {
    margin: 0 10px;
}

footer a {
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
