body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/Spotify_Primary_Logo_RGB_Green.png"); /* Update with the correct path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #1DB954; /* Spotify green */
    font-size: 32px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 60%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #1DB954;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    outline: none;
}

button {
    width: 30%;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    background-color: #1DB954;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #17a74b;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
