<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood-Based Music Recommender 🎧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Top Bar -->
    <div class="top-bar">
        <span class="title">Moodify your Playlist</span>
        <span class="logo"><img src="{{ url_for('static', filename='images/Spotify_Full_Logo_RGB_Green.png') }}" alt="Spotify Logo"></span>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer Section -->
    <footer>
        <span>👨‍💻 Developed by <strong>Abedalrheem Fialah</strong></span>
        <span>📞 +970 599 123 456</span>
        <span>📧 abedalrheem.fialah@example.com</span>
        <span>🔗 <a href="https://www.linkedin.com/in/abedalrheemfialah" target="_blank">Find me at LinkedIn</a></span>
    </footer>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
</body>
</html>
